@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "ForestSmooth";
  src: url("./fonts/Daneehand_Regular_Cyr.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Daneehand_Regular_cyt.ttf", sans-serif;
}

@keyframes shimmer-glow {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.shimmer-text {
  background: linear-gradient(
    120deg,
    #ffffff 0%,
    #ffd700 20%,
    #ff00cc 40%,
    #ffd700 60%,
    #ffffff 80%
  );
  background-size: 400% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: shimmer-glow 8s linear infinite;
}

/* Стили для scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1f1f1f;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}